.projects {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;

	&__item {
		margin-bottom: 26px;

		@media screen and (max-width: 736px) {
			margin-bottom: 30px;
		}
	}
}
