.project {
	display: block;
	height: 200px;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	font-size: 19px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 25px 23px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0);
		transition: background .5s ease;
	}

	> * {
		opacity: 0;
		transform: translateY(5px);
		transition: opacity .4s ease, transform .4s ease;
	}

	&__category {
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 14px;
		font-weight: 600;
	}

	&__title {
		max-width: 70%;
	}

	&_2-5 {
		width: calc(38% - 20px)
	}

	&_1-5 {
		width: calc(25% - 20px)
	}

	&:hover {
		&::before {
			background: rgba(#000, .2);
		}

		& > * {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
