.project {
	display: block;
	height: 270px;
	background-color: #eaeaea;
	color: #fff;
	text-decoration: none;
	font-size: 19px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 25px 23px;
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0);
		transition: background .5s ease;

		@media screen and (max-width: 736px) {
			content: none;
		}
	}

	> .project__top,
	> span {
		opacity: 0;
		transform: translateY(5px);
		transition: opacity .4s ease, transform .4s ease;
		position: relative;
		z-index: 1;

		@media screen and (max-width: 736px) {
			opacity: 1;
			order: 1;
			transform: none;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
	}

	&__category {
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 14px;
		font-weight: 600;

		@media screen and (max-width: 736px) {
			margin-bottom: 10px;
		}
	}

	&__title {
		max-width: 70%;
	}

	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		img {
			object-fit: cover;
			object-position: top 20% center;
			height: 100%;
			width: 100%;
	    display: block;
		}

		@media screen and (max-width: 736px) {
			position: static;
			order: 0;
			margin-bottom: 20px;
			height: 250px;
		}
	}

	&__year {
		font-size: .8em;
	}

	// Sizes

	&_1-5 {
		width: calc(20% - 15px);

		.project__title {
			max-width: 100%;
		}
	}

	&_5-5 {
		width: 100%;

		.project__title {
			max-width: 30%;
		}
	}

	&_2-5 {
		width: calc(40% - 15px);
	}

	&_3-5 {
		width: calc(60% - 15px);
	}

	&:hover {
		&::before {
			background: rgba(#000, .7);
		}

		& > * {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@media screen and (max-width: 736px) {
		width: 100%;
		padding: 0;
		background-color: transparent !important;
		height: auto;
		color: #000;
	}

	& &__title {
		@media screen and (max-width: 736px) {
			max-width: 100%;
			font-weight: 600;
		}
	}
}
