* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --bg-color: var(--app-abg-1);
  --text-color: var(--app-atext-1);

  background: var(--bg-color);
  color: var(--text-color);

  font-size: var(--app-font-size);
  font-weight: var(--app-font-weight);
  line-height: var(--app-line-height);
  font-family: var(--app-font-family);
}

::-moz-selection {
  background: hsl(0, 0%, 90%);
  color: currentColor;
}

::selection {
  background: hsl(0, 0%, 90%);
  color: currentColor;
}

@media (--dark) {
  ::-moz-selection {
    background: hsl(0, 0%, 16%);
    color: currentColor;
  }

  ::selection {
    background: hsl(0, 0%, 16%);
    color: currentColor;
  }
}

:root {
  @import-variables '@ryaposov/tokens/colors/css-color-variables.js';
  @import-variables '@ryaposov/tokens/colors/css-auto-light-color-variables.js';
}

.app-dark {
  @import-variables '@ryaposov/tokens/colors/css-auto-dark-color-variables.js';
}
