br,
wbr {
  display: none;
}

/* br,
wbr {
  display: none;
}

.app-br {
  --app-br-display-d: none;
  --app-br-display-m: inline;
  --app-br-display: inline;
  --app-br-display-no: none;

  br[data-d],
  wbr[data-d] {
    display: var(--app-br-display-d);
  }

  br[data-m],
  wbr[data-m] {
    display: var(--app-br-display-m);
  }

  br,
  wbr {
    display: var(--app-br-display);
  }

  &--no {
    br,
    br[data-d],
    br[data-m],
    wbr,
    wbr[data-d],
    wbr[data-m] {
      display: var(--app-br-display-no);
    }
  }

  @media (--rp) {
    --app-br-display-m: none;
    --app-br-display: none;
  }

  @media (--md) {
    --app-br-display-d: inline;
    --app-br-display: inline;
    --app-br-display-m: none;
  }
} */
