/* TEXT */

.app-text-1 {
  color: var(--app-text-1);
}

.app-text-1-dark {
  color: var(--app-text-1-dark);
}

.app-text-2 {
  color: var(--app-text-2);
}

.app-text-3 {
  color: var(--app-text-3);
}

.app-text-3-dark {
  color: var(--app-text-3-dark);
}

.app-text-4 {
  color: var(--app-text-4);
}

.app-text-brand {
  color: var(--app-text-brand);
}


/* BG */

.app-bg-1 {
  background-color: var(--app-bg-1);
}

.app-bg-2 {
  background-color: var(--app-bg-2);
}

.app-bg-2-dark {
  background-color: var(--app-bg-2-dark);
}

.app-bg-3 {
  background-color: var(--app-bg-3);
}

.app-bg-brand {
  color: var(--app-text-1);
}


/* BORDER */

.app-border-1 {
  border-color: var(--app-border-1);
}

.app-border-1-dark {
  border-color: var(--app-border-1-dark);
}