.app-text-primary {
  --color: var(--app-text-primary-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--app-text-primary-dark)
  }
}

.app-text-secondary {
  --color: var(--app-text-secondary-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--app-text-secondary-dark)
  }
}

.app-text-tertiary {
  --color: var(--app-text-tertiary-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--app-text-tertiary-dark)
  }
}

.app-text-brand {
  --color: var(--app-text-brand-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--app-text-brand-dark)
  }
}

.app-bg-primary {
  --color: var(--app-bg-primary-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--app-bg-primary-dark)
  }
}

.app-bg-secondary {
  --color: var(--app-bg-secondary-light);

  color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: var(--app-bg-secondary-dark)
  }
}
