:root {
  --app-font-size: 14px;
  --app-font-weight: 400;
  --app-line-height: 20px;
  --app-font-family: 'Catamaran', sans-serif;

  /* Text Light */
  --app-text-1-light: hsla(0, 0%, 0%, 1);
  --app-text-2-light: hsla(0, 0%, 38%, 1);
  --app-text-3-light: hsla(0, 0%, 61.6%, 1);
  --app-text-4-light: hsla(0, 0%, 78.8%, 1);
  --app-text-brand-light: hsla(212, 100%, 50%, 1);

  /* Text Dark */
  --app-text-1-dark: hsla(0, 0%, 100%, 1);
  --app-text-2-dark: hsla(0, 0%, 78%, 1);
  --app-text-3-dark: hsla(0, 0%, 50%, 1);
  --app-text-4-dark: hsla(0, 0%, 30%, 1);
  --app-text-brand-dark: hsla(212, 100%, 56%, 1);

  /* BG Light */
  --app-bg-1-light: hsla(0, 0%, 100%, 1);
  --app-bg-2-light: hsla(0, 0%, 95.7%, 1);
  --app-bg-3-light: hsla(0, 0%, 78.8%, 1);
  --app-bg-brand-light: hsla(212, 100%, 50%, 1);

  /* BG Dark */
  --app-bg-1-dark: hsla(0, 0%, 4%, 1);
  --app-bg-2-dark: hsla(0, 0%, 17.6%, 1);
  --app-bg-3-dark: hsla(0, 0%, 17.6%, 1);
  --app-bg-brand-dark: hsla(212, 100%, 55.9%, 1);

  /* Border Light */
  --app-border-1-light: hsla(0, 0%, 90.2%, 1);

  /* Border Dark */
  --app-border-1-dark: hsla(0, 0%, 10%, 1);
  
  
  @media (--light) {
    /* Text Light */
    --app-text-1: var(--app-text-1-light);
    --app-text-2: var(--app-text-2-light);
    --app-text-3: var(--app-text-3-light);
    --app-text-4: var(--app-text-4-light);
    --app-text-brand: var(--app-text-brand-light);
  
    /* BG Light */
    --app-bg-1: var(--app-bg-1-light);
    --app-bg-2: var(--app-bg-2-light);
    --app-bg-3: var(--app-bg-3-light);
    --app-bg-brand: var(--app-bg-brand-light);
  
    /* Border Light */
    --app-border-1: var(--app-border-1-light);
  }

  @media (--dark) {
    /* Text Light */
    --app-text-1: var(--app-text-1-dark);
    --app-text-2: var(--app-text-2-dark);
    --app-text-3: var(--app-text-3-dark);
    --app-text-4: var(--app-text-4-dark);
    --app-text-brand: var(--app-text-brand-dark);
  
    /* BG Dark */
    --app-bg-1: var(--app-bg-1-dark);
    --app-bg-2: var(--app-bg-2-dark);
    --app-bg-3: var(--app-bg-3-dark);
    --app-bg-brand: var(--app-bg-brand-dark);
  
    /* Border Dark */
    --app-border-1: var(--app-border-1-dark);
  }
}