@import 'fonts';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Futura', arial, sans-serif;
	font-weight: 400;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: auto;
}

body {
	padding-top: 138px;
	min-width: 1080px;

	@media screen and (max-width: 736px) {
		padding-top: 0;
		min-width: auto;
	}
}

* {
	box-sizing: border-box;
}

// .app,
// .wrapper {
// 	height: 100%;
// }

.wrapper__content {
	min-height: calc(100vh - 138px - 81px);
	padding-bottom: 50px;

	@media screen and (max-width: 736px) {
		min-height: calc(100vh - 116px - 46px);
		// padding-bottom: 0;
	}

}

.center {
	width: 1040px;
	margin: 0 auto;

	@media screen and (max-width: 736px) {
		width: calc(100% - 30px);
	}
}

a {
	text-decoration: none;
}

@import 'blocks/link';
@import 'blocks/arrow';
@import 'blocks/text-loader';
@import 'blocks/markup';
