.footer {
	padding: 20px 0;
	background: #fff;
	z-index: 50;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: .15em;
	text-transform: uppercase;
	border-top: 1px solid rgba(#000, .1);

	&__center {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 280px;

		&:hover {
			opacity: .7;
		}
	}

	&__link,
	&__email {
		text-decoration: none;
		color: #000;
		margin-left: 45px;
		border-bottom: 3px solid transparent;
		padding-bottom: 5px;
	}

	&__link:first-of-type {
		margin-left: 0;
	}

	&__link {
		&:hover {
			color: gray;
			border-color: currentcolor;
		}

		&_active {
			border-color: #000;
		}
	}

	&__email {
		margin-left: 0;
		text-transform: none;
		letter-spacing: 0;
		font-size: 18px;
	}
}
